# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/
next-env.d.ts

# Test / coverage
coverage/

# Env & secrets
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
*.log
.idea/
.vscode/
